/*  */
h2{
    font-size: 1.5rem;
}
h3{
    font-size: 1.2rem;
    font-weight: bold;
}

p{      /* p piccolo */
    color: #949494;
    line-height: 1.3rem;
    font-size: 0.85rem;
}

.sub{   /* p grande */
    line-height: 1.7rem;
    font-size: 1rem;
}
/* Formattazione HR */
.rigona{        /* hr grande */
    width:8rem;
}
.rig{           /* hr piccola */
    width:5rem;
}
span{
    font-weight: bold;
    color: #ff4f02;
}
    

/* Edoardo, Francesca */
@font-face {
    font-family: "Myfont";
    src: url(../fonts/ufonts.com_tw-cen-mt.ttf);
}


body {
    font-size: 100%;
    width: 100%;
    margin: 0 auto;
    font-family: "Myfont";
}

.fa-bars {
    color: #e94c3d;
    font-size: 20px;
    font-weight: bold;
}

h3 span {
    font-size: 1.2rem;
}

h3 {
    font-size: 1.2rem;
}

span {
    color: #ff530a;

}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   /*  width: 92%; */
    position: sticky;
    top: 0px;
    padding: 1.5rem 0.8rem 0 0.8rem;
    background-color: rgba(255, 255, 255, 0.76);
    z-index: 100;
    margin: 0 1rem;
    margin-top: -79px;

}


#Menu_a_tendina {
    z-index: 3;
}

/* .overlay {
    width: 300px;
    height: 300px;
    z-index: 70;
} */
.immagine_zuppa img {
    width: 100%;
    z-index: 1;
}

header nav {
    margin-top: 2.5rem;
    position: relative;

}

header nav ul li a {
    text-decoration: none;
    color: #2E2E2E;
    text-transform: uppercase;

}

header nav ul li {
    padding: 0.5rem;
}


input#menu_btn {
    display: none;
}

input#menu_btn:checked~nav {
    height: 210px;
}



#Menu_a_tendina ul li:after {
    display: block;
    content: '';
    border-bottom: solid 2px #ff5333;
    padding-bottom: 0.5rem;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
}



#Menu_a_tendina ul li:hover:after {
    transform: scaleX(1);
}


#Menu_a_tendina ul li:after {
    transform-origin: 0 50%;
}




.img_carosello {
    width: 92%;
    margin: auto;

}

.carosello {
    display: flex;
    height: 200px;
    overflow: hidden;
    margin: auto;
}

.carosello div {
    width: 50%;
    height: 100px;

}

.displayflex{
    display: flex;
    justify-content: space-between
}

.displayflex .fa-angle-right{
    color: lightgray;
}

.pallini {
    width: 50%;
    overflow: hidden;
    text-align: center;
    margin: 2rem auto;
    padding: 1rem;
}
.pallini  a {
    font-size: 40px;
    color: #2E2E2E;
}

.pallini .fa-circle-small {

    background-color: lightgray;
    
    
}

.pallini a:active{
    color:red;
    
    
}


@media screen and (max-width:768px) {
    header nav {
        height: 0;
        overflow: hidden;
        position: relative;
        width: 100%;
        transition: height 0.5s ease-out;
    }

}

@media screen and (min-width:768px){
    #menu_mobile{
        display:none;
    }

  
header{
    flex-wrap:nowrap;
    width: 90%;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
}
    header nav {
        overflow:visible;
    }

    #Menu_a_tendina ul{
        display:flex;
        
        position:relative;
        top:-40px;
    }

    #Menu_a_tendina ul li{
        margin-left: 20px;
    }
    header figure img {
        margin: 10px;
    }
}

/* Simone */

/* Blocco Grigio */
.grey_block{
    width: 100%;
    height: auto;
    background-color: rgb(241, 241, 241);
    text-align: center;
}
.grey_block span{
    text-transform: initial;
    font-weight: bold;
    color: #ff530a;
}
.grey_block img{
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.title_grey{
    width: 70%;
    margin: 0 auto 3rem auto; 
}
 .blog_food span{
    text-transform: initial;
    font-weight: bold;
    color: #ff4f02;
}
.grey_block hr{
    margin-top: 2rem;
}
.text_grey{
    padding: 2rem 0.9rem 4rem 0.9rem;
}

/* Blocco Info Menu */
.blog_food {
    width: 100%;
   height: 100%;
    background-image: url(../images/blog/blog-bg.jpg) ;
    background-color: rgba(0, 0, 0, 0.186);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: left;
    background-attachment:fixed ;
}

.pattern {
    background-image: url(../images/overlay-pattern.png);
    z-index: 2;    
}   
.scuro {
    background-image: url(../images/overlay-pattern2.png);
    /* background-color: #2e2e2e4d; */
    z-index: 1;    
}
.title_blog{
    text-align: center;
    color: white;
    margin: 0 0;
    padding: 6rem 2rem 2rem 2rem; 
}

.blog_container{
    height: auto;
    text-align: center;
    margin: 3rem 0.9rem 4rem 0.9rem;
    background-color: white;
}
.blog_img{
    overflow: hidden;
}
.blog_container img{
    width: 100%;
    transition: 1s; 
}
.blog_container img:hover{
    transform: scale(1.2) rotate(10deg);   
}
.blog_container .rig{
    margin:1.4rem auto ;
}
.more_info{
    text-align: left;
    padding: 0 0.8rem;
}
.text{
     padding: 1.5rem 1.5rem; 
}
.more_info input{
    font-family: "Myfont";
    font-size: 0.9rem;
    padding: 2rem 5rem;
    background-color: #ff4f02;
    color: white;
    border: 1px solid #ff4f02;
    transition-property: background-color ;
    transition-duration: 0.5s;
    margin-bottom: 5rem;
}

.more_info input:hover{
    background-color: #ff530a00;
        color: #ff4f02;
        border: 1px solid #ff4f02;
        border-radius: 10px;
}

@media screen and (min-width: 768px ) {
    .grey_block{
       padding: 2rem 0 4rem 0; 
    }
    .blog_container{
        position: relative; 
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        justify-content: center;
        margin: 0 auto;
        background-color: initial;
    }
    .blog_img{
        position: relative; 
        width: 50%; 
        height: auto;   
        background-color: white;        
   }
   .blog_food .rigona{
    margin: 0 auto 2.5rem auto;
}
   .text{
    position: relative; 
     width: 50%; 
     height: auto;
    background-color: white;
    box-sizing: border-box;
    padding: 1.5rem 1.5rem 1rem 1.5;
}
.freccia_sx, .freccia_dx{
     position: absolute; 
    width: 2rem;
    height: 2rem;
    transform: rotate(45deg);
    background-color: white;
    display: inline-block; 
    z-index: 2;
 }
 .freccia_sx{
    top: 50px;
    left: -15px; 
}
.freccia_dx{ 
    top: 50px;
    right: -15px; 
}
.more_info{
    text-align: center;
    padding: 0 3rem;
    margin-top: 1rem;
}
.more_info input{
    padding: 2rem 7rem;
}

}
@media only screen and (min-width: 1200px){
    .blog_container{
        display: flex;
       flex-wrap: wrap;
        width: 70%;
        justify-content: center; 
        margin: 0 auto;
        background-color:initial;
        
    }
    .blog_container hr{
        width: 40%;
        display: inline-block;
        margin: 1em auto;
    }
    .blog_img{
         width: 25%; 
         height: auto;   
         background-color: white; 
         position: relative;   
    }

    .text{
         width: 25%; 
         height: auto;
        background-color: white;
        box-sizing: border-box;
        padding: 1.5rem 1.5rem 1rem 1.5;
    }
    .freccia_sx, .freccia_dx{
        position: absolute;
        transform: rotate(45deg);
        background-color: white;
        display: inline-block; 
        z-index: 2;
     }
     .more_info{
         width: 70%;
        text-align: right;
        padding: 0 3rem;
        margin: 0 auto;
    }
    .more_info input{
        padding: 2rem 7rem;
    }
}   
/* Claudia */
.Menu {
    color: #333333;
    display: block;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.8;
    padding: 4.5rem 0.9rem 9rem 0.9rem;
}

.Menu h1 {
    color: #2E2E2E;
    padding: 2.5rem 0rem 0rem 0rem;
}

span {
    color: #FF530A;
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: bold;
}

/* .Menu p {
    color: #9D9D9D;
    font-size: 1rem;
    padding: 1.5rem 0rem 0rem 0rem;
} */

.Prezzi a {
    color: #FF4F02;
    border-radius: 0;
    text-decoration: none;
    font-size: 0.9rem;
    text-align: center;
    padding: 1.8rem 6.3rem;
    border: 1px solid #FF4F02;
    float: right;
    cursor: pointer;
    font-weight: bold;
}

.Prezzi a:hover {
    color: white;
    background-color: #FF4F02;
}

.Prezzi {
    padding: 5rem 0rem 0rem 0rem;
    text-align: left;
}

.Prezzi .Titolo {
    font-size: 0.8rem;
}

.Titolo h3 {
    font-size: 1rem;
    font-weight: bold;
    padding: 1.6rem 0rem;
}

.Titolo h3 span {
    font-size: 1rem;
}

.Prezzi li {
    list-style: none;
    font-size: 0.8rem;
    padding: 1.3rem 0rem;
}

.Prezzi li h2 {
    font-size: 1.5rem;
    background: #FFFFFF;
    display: inline-block;
    position: relative;
    z-index: 99;
}

.Prezzi li span {
    color: #938463;
    font-size: 0.9rem;
    padding-top: 0.4rem;
    font-weight: lighter;
    display: inline-block;
}

.Prezzi li p {
    color: #949494;
    font-size: 0.9rem;
    padding: 0.8rem 0rem 0rem;
}

/* .piatto {
    box-sizing: border-box;
}
.nome_piatto {
    position: relative;
}
.trattini {
    position: absolute;
    top: 0;
    width: 100%;
    height: 1px;
    border: 1px dotted #C9C9C9;
    margin-top: 1.7rem;
} */

@media screen and (min-width: 768px) {
    .Menu {
        color: #333333;
        display: block;
        text-align: center;
        font-size: 2.3rem;
        line-height: 1.5;
        padding: 4.5rem 1.7rem 9rem 1.7rem;
    }

    .Menu h1 {
        color: #2E2E2E;
        padding: 2.5rem 0rem 0rem 0rem;
    }

    span {
        color: #FF530A;
        font-size: 2.8rem;
        text-transform: uppercase;
        font-weight: bold;
    }

    .Titolo h3 {
        font-size: 1.3rem;
        font-weight: bold;
        padding: 1.6rem 0rem;
    }

    .Titolo h3 span {
        font-size: 1.3rem;
    }

    .piatto {
        box-sizing: border-box;
    }
    .nome_piatto {
        position: relative;
    }
    .trattini {
        position: absolute;
        top: 0;
        width: 100%;
        height: 0.5px;
        border: 0.5px dotted #C9C9C9;
        margin-top: 1.7rem;
    }

    .Prezzi li span {
        color: #938463;
        font-size: 0.9rem;
        padding-top: 0.6rem;
        font-weight: lighter;
        float: right;
    }
}

@media screen and (min-width: 1200px) {
    .Menu {
        color: #333333;
        display: block;
        text-align: center;
        font-size: 2.3rem;
        line-height: 1.5;
        padding: 4.5rem 12rem 9rem 12rem;
    }
}

/* Vitalij */
aside{
    background-image:url(../images/overlay-pattern2.png), url(../images/subscribe-bg.jpg) ;
    background-size: repeat,cover;
    background-attachment: fixed;
    text-align: center;
    height: 35em;
    color: white;
    padding: -1em;
    margin-bottom: 6em;
}
aside img{
    width: 100%;
    height: 100%;
}
aside>div {
    position: relative;
    top: 25%;
}
aside p:first-child {
    font-size: 1.5em;
    font-weight: bold;

}
 .rigona ~ p{
    color: white;
    font-size: 1.1em;
    padding-right: 0.9rem;
    padding-left: 0.9rem;
    
}
aside  span {

    font-size: 0.6em;
}
aside hr{
    margin-top: 2.5em;
    margin-bottom: 1.3em;
}

aside input {
    height: 5em;
    width: 90%;
    margin-top: 3em;
    border: 0;
    padding-left: 1em;

   
    
}
aside h3{
    font-size: 1.8em;
}
aside button {
    background-color: #7EC3BB;
    border: 0;
    height: 4em;
    color: white;
    width: 50%;
    display: block;
    margin-top: 2em;
    font-weight: bold;
    margin-left: 0.9rem;
    font-family: Myfont;
    letter-spacing: 0.1em;
    font-size: 1em;
}
form textarea {
    display: flex;
    width: 95%;
    margin: auto;
    margin-bottom:  2.7em;
    height: 9em;
    padding-left: 1em;
    padding-top: 1em;
}
.contattaci{
    padding: 0 0.9rem 0 0.9rem;
   margin-bottom: 4em;
}
.contattaci form input{
    width: 95%;
    margin-bottom: 1em;
    height: 3em;
    padding-left: 1em;
    border: 1px solid #ccc;
}
.contattaci button {
    background-color: #FF4F02;
    color: white;
    border: none;
    height: 3.7em;
    display: block;
    margin-top: 2em;
    margin: auto;
    width: 100%;
    padding-top: 0.9em;
    font-family: Myfont;
    font-weight: bold;
}
.contattaci>p {
    text-align: center;
    font-size: 1.3em;
}
.contattaci p span {
    font-size: 1em;
    font-weight: bold;
}
.contattaci hr{
    margin-bottom: 1.5em;
    margin-top: 2.5em;
}
.contattaci h3{
    margin-bottom:1.5em ;
    font-weight: bold;
}
/* footer */
footer h3 {
   font-weight: bold;
  
}
footer>div:first-child h3{
    margin-bottom:2em ;
}
footer>div:first-child i{
    margin-right:2em ;
}
footer>div:nth-child(2) a{
    font-size: 1.2rem;
}
address{
  color:#474747 ;  
}

footer p{
    color:#474747 ;  
}
footer i, footer div:nth-last-child(2) a{
   color: #B0B0B0;
  
}
footer div:not(div:last-child){
    padding: 0 0.9rem 0 0.9rem;
}
footer span{
    font-size: 1em;
    font-weight: bold;
}
footer a {
    text-decoration: none;
    color: #FF4F02;
    font-weight: bold;
}
footer li {
    margin-bottom: 1.5em;

}
footer  div:nth-child(2)  p:first-child{
    font-size: 1.125em;
}
footer  div:nth-child(3)  p:first-child{
    font-size: 1.3em;
}
footer div:first-child  li {
    margin-bottom: 2em;
}
footer div:first-child  li p {
   margin-bottom: 0.9em;
}
footer div:first-child ul li p:first-child {
    color: #FF4F02;
}
footer>div:nth-child(3) ul li {
    display: inline-block;
    font-size: 2.5em;
    margin-top: 0.4em;
    margin-right: 0.6em;
}
footer>div:last-child {
    background-color: #E9E9E9;
    height: 5em;
    text-align: center;
    margin-bottom: 0;
   
}
footer > div:nth-last-child(1) p{
    line-height: 1.5em; 
    padding: 1.2em 1.9em 0 1.9em;
    font-weight: 500;
    word-spacing: 0.2em;
    letter-spacing: 0.1em;
    color: #454545;
    font-size: 0.7;
}
footer > div:nth-last-child(1) h3{
    margin-top: 0;
}
footer div {
    margin-bottom: 3.5em;
}
footer div img {
    margin-right: 1em;
    margin-top: 2em;
}   
footer>div:nth-child(2) h3{
  margin-top: 4em;
}
    	
